.LinkContainer {
  padding: 100px 10px 200px;
  background-color: white;
  @media (--mediaMobile) {
    padding: 50px 10px;
  }
}

.Title {
  @media (any-hover: hover) {
    &:hover {
      text-decoration: underline;
    }
  }
}
